// main colors
$main-dark: #153d26;
$main-dull: #35995f;
$main-soft: #d6eadf;

// sub-colors
$sub1-dark: #455439;
$sub1-dull: #738d60;
$sub2-dull: #b6cc29;
$sub3-dull: #fef6b7;
$sub4-dull: #cbe6f8;
$sub1-soft: #c8daad;
$sub2-soft: #dce697;
$sub3-soft: #fefadb;
$sub4-soft: #e4f1f9;

// accent colors
$accent: #e0815e;

// text colors
$text1: #393332;
$text2: #ffffff;
$text3: #b61f22;

// area colors
// 赤門
$akamon-deep: #b11c38;
$akamon-bright: #e2506b;
$akamon-pale: #f2c7cf;

// 安田講堂
$yasuda-deep: #c76a2f;
$yasuda-bright: #dc862a;
$yasuda-pale: #f6d7b5;

// 工学部
$eng-deep: #1c7293;
$eng-bright: #5d98b0;
$eng-pale: #c8e5ea;

// 農学部
$agr-deep: #2f7b39;
$agr-bright: #6ca547;
$agr-pale: #cae3c3;

// めいちゃん
$may-green: #e9f5f1;
$may-green-dark: #94c9b9;
$may-orange: #fffaec;
$may-pink: #fadbdd;
$may-yellow: #fdfada;
$may-brown: #595757;

// others
$black: #393332;
$white: #ffffff;
