/*色指定*/
$main1: #4f240a;
$main2: #9f2226;
$main3: #d1af46;
$mono1: #3d3a39;
$mono2: #f7eed4;
$sub1: #e2cd87;
$sub2: #f0dbac;
$sub3: #c79f96;
$sub4: #d7ad8c;
$sub5: #e8ad66;
$sub6: #f4dd6f;
$sub7: #9a7926;
$sub8: #a84223;
$sub9: #ba631e;
$sub10: #989999;
$sub11: #c4b093;
$sub12: #a14249;
$accent1: #07374f;
$accent2: #225e79;
$accent3: #731a3e;
$accent4: #ac5964;
$accent5: #3e4529;
$accent6: #7b8c3c;

$main-dark: #0b1f2f;
$main-dull: #637ba3;
$main-soft: #abc5dd;

$sub1-dull: #4d877c;
$sub1-soft: #99d2bd;
$sub1-pale: #dfefe8;

$sub2-dull: #7373a0;
$sub2-soft: #c3c3e0;
$sub2-pale: #e4e4f2;

$black: #393332;
$white: #ffffff;
$red: #aa243b;

// 赤門
$akamon-deep: #bc1e3c;
$akamon-bright: #e2506b;
$akamon-pale: #f2c7cf;

// 安田講堂
$yasuda-deep: #b9762c;
$yasuda-bright: #e8973b;
$yasuda-pale: #f6d7b5;

// 工学部
$kougaku-deep: #10808c;
$kougaku-bright: #00baca;
$kougaku-pale: #bcdbe0;

// 農学部
$nougaku-deep: #41802e;
$nougaku-bright: #6ca547;
$nougaku-pale: #cae3c3;

// めいちゃん
$may-green: #e9f5f1;
$may-green-dark: #94c9b9;
$may-orange: #fffaec;
$may-pink: #fadbdd;
$may-yellow: #fdfada;
$may-brown: #595757;

$twitter-blue: #1da1f2;