.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: flex-end;
}

.align-flex-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.direction-reverse {
  flex-direction: row-reverse;
}

.direction-column {
  flex-direction: column;
}

.flex,
.inline-flex {
  @for $i from 1 through 20 {
    .is-#{$i * 5} {
      width: $i * 5%;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.d-block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.print-none {
  @media print {
    display: none !important;
  }
}
