@font-face {
  font-family: "Kinuta MaruminFuji StdN R";
  src: url("../fonts/kinuta-maruminfuji-stdn.ttf");
}
@font-face {
  font-family: "DNP Shuei Mgothic Std L";
  src: url("../fonts/dnp-shuei-mgothic-std-l.ttf");
}
@font-face {
  font-family: "DNP Shuei Mgothic Std B";
  src: url("../fonts/dnp-shuei-mgothic-std-b.ttf");
}
@font-face {
  font-family: 'anzu';
  src: url('~assets/font/APT.ttf');
}
