@import '_mq';
@import '_color';
@import '_font';

.bold {
  // font-family: 'DNP Shuei Mgothic Std B';
  font-weight: 600;
}

.red {
  color: $text3;
}

body {
  margin: 0;
}

html,
input,
button {
  // font-family: 'DNP Shuei Mgothic Std L', sans-serif;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  font-style: normal;
  font-weight: 400;

  @include mq(from-pc) {
    font-size: 15px;
  }

  @include mq(until-pc) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
em {
  // font-family: 'Kinuta MaruminFuji StdN R', serif;
  font-family: kinuta-maruminfuji-stdn, serif;
  line-height: 2;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: #3366cc;
}

h1 {
  font-style: normal !important;
  font-weight: 400 !important;

  @include mq(from-pc) {
    font-size: 36px !important;
  }

  @include mq(until-pc) {
    font-size: 22px !important;
  }
}

h2 {
  font-style: normal !important;
  font-weight: 400 !important;

  @include mq(from-pc) {
    font-size: 22px !important;
  }

  @include mq(until-pc) {
    font-size: 20px !important;
  }
}

h3 {
  font-style: normal !important;
  font-weight: 400 !important;
  .lang-en & {
    font-family: 'Buenard', serif !important;
  }

  @include mq(from-pc) {
    font-size: 19px !important;
  }

  @include mq(until-pc) {
    font-size: 18px;
  }
}

h4 {
  font-style: normal !important;
  font-weight: 700 !important;
  @include mq(from-pc) {
    font-size: 16px;
  }

  @include mq(until-pc) {
    font-size: 15px;
  }
}

input::placeholder {
  color: $text1;
  opacity: 1;
}

input::-ms-input-placeholder {
  color: $text1;
}

// めいフォント
.may-font {
  font-family: 'anzu', sans-serif;
  font-size: 140%;
}
