@import './display';
@import './position';
@import './font';

// marginとpaddingをつけてくれる便利なヘルパー
$c--sizes: (
  -64,
  -32,
  -24,
  -20,
  -16,
  -12,
  -8,
  -6,
  -4,
  -2,
  -1,
  0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  12,
  14,
  16,
  20,
  24,
  28,
  32,
  36,
  40,
  44,
  48,
  52,
  56,
  64,
  68,
  72,
  76,
  80,
  84,
  88,
  90,
  92,
  96,
  120,
  128,
  144,
  180,
  192
);
$c--positions: ('top', 'left', 'bottom', 'right');

@each $c--size in $c--sizes {
  @each $c--position in $c--positions {
    .m-#{$c--position}-#{$c--size} {
      margin-#{$c--position}: $c--size + px !important;
    }
  }

  .mt-#{$c--size} {
    margin-top: $c--size + px !important;
  }

  .mr-#{$c--size} {
    margin-right: $c--size + px !important;
  }

  .mb-#{$c--size} {
    margin-bottom: $c--size + px !important;
  }

  .ml-#{$c--size} {
    margin-left: $c--size + px !important;
  }

  .mx-#{$c--size} {
    margin-right: $c--size + px !important;
    margin-left: $c--size + px !important;
  }

  .my-#{$c--size} {
    margin-top: $c--size + px !important;
    margin-bottom: $c--size + px !important;
  }

  .ma-#{$c--size} {
    margin: $c--size + px;
  }

  .m-#{$c--size} {
    margin: $c--size + px;
  }

  @each $c--position in $c--positions {
    .p-#{$c--position}-#{$c--size} {
      padding-#{$c--position}: $c--size + px !important;
    }
  }

  .pt-#{$c--size} {
    padding-top: $c--size + px !important;
  }

  .pr-#{$c--size} {
    padding-right: $c--size + px !important;
  }

  .pb-#{$c--size} {
    padding-bottom: $c--size + px !important;
  }

  .pl-#{$c--size} {
    padding-left: $c--size + px !important;
  }

  .px-#{$c--size} {
    padding-right: $c--size + px !important;
    padding-left: $c--size + px !important;
  }

  .py-#{$c--size} {
    padding-top: $c--size + px !important;
    padding-bottom: $c--size + px !important;
  }

  .pa-#{$c--size} {
    padding: $c--size + px;
  }

  .p-#{$c--size} {
    padding: $c--size + px;
  }

  .h-#{$c--size} {
    height: $c--size + px !important;
  }

  .w-#{$c--size} {
    width: $c--size + px !important;
  }

  .min-h-#{$c--size} {
    min-height: $c--size + px !important;
  }

  .font-size-#{$c--size} {
    font-size: $c--size + px !important;
  }

  .line-height-#{$c--size} {
    line-height: $c--size + px !important;
  }

  .t-#{$c--size} {
    top: $c--size + px !important;
  }

  .r-#{$c--size} {
    right: $c--size + px !important;
  }

  .b-#{$c--size} {
    bottom: $c--size + px !important;
  }

  .l-#{$c--size} {
    left: $c--size + px !important;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0-auto {
  margin: 0 auto;
}

.w-100vw {
  width: 100vw;
}

.h-100vh {
  height: 100vh;
}

.height-100,
.full-height {
  height: 100%;
}

.fluid {
  width: 100%;
}

.min-height-100 {
  min-height: 100vh;
}

.min-width-0 {
  min-width: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-10000 {
  z-index: 10000;
}

.pre-wrap {
  white-space: pre-wrap;
}

.nowrap {
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-middle,
.vertical-middle {
  vertical-align: middle;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-zoomin {
  cursor: zoom-in;
}

.white-shadow {
  filter: drop-shadow(0 5px 5px rgb(221, 220, 220));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.border-radius-1 {
  border-radius: 1px;
}

.border-radius-2 {
  border-radius: 2px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-6 {
  border-radius: 6px;
}

.opacity {
  &-01 {
    opacity: 0.1;
  }

  &-03 {
    opacity: 0.3;
  }

  &-05 {
    opacity: 0.5;
  }

  &-06 {
    opacity: 0.6;
  }

  &-07 {
    opacity: 0.7;
  }

  &-09 {
    opacity: 0.9;
  }

  &-10 {
    opacity: 1;
  }
}

.select-none {
  user-select: none;
}

.object-fit {
  &-contain {
    object-fit: contain;
  }

  &-cover {
    object-fit: cover;
  }

  &-fill {
    object-fit: fill;
  }
}

// 5度の倍数
@for $i from 1 through 71 {
  .rotate-#{$i * 5} {
    transform: rotateZ(#{$i * 5}deg);
  }
}

.hash {
  margin-top: -52px;
  padding-top: 52px;
}

.no-decoration {
  text-decoration: none !important;
}

.text-black {
  color: $text1;
}

.place-center {
  display: grid;
  place-content: center;
  place-items: center;
}

.se-card-wrapper {
  @media screen and (max-width: 364px) {
    width: 100vw;
    justify-content: space-around;
  }
}

.se-card-wrapper-ml {
  @media screen and (max-width: 364px) {
    width: 100vw;
    margin-left: -7.5vw;
    justify-content: space-around !important;
  }
}

.until-mb-column {
  flex-direction: row;

  @include mq(sp) {
    flex-direction: column !important;
  }
}

.until-tab-column {
  flex-direction: row;

  @include mq(until-tab) {
    flex-direction: column !important;
  }
}

.until-pc-column {
  flex-direction: row;

  @include mq(until-pc) {
    flex-direction: column !important;
  }
}

.until-mb-row {
  flex-direction: column;

  @include mq(sp) {
    flex-direction: row !important;
  }
}

.until-tab-row {
  flex-direction: column;

  @include mq(until-tab) {
    flex-direction: row !important;
  }
}

.until-pc-row {
  flex-direction: column;

  @include mq(until-pc) {
    flex-direction: row !important;
  }
}

.until-mb-hide {
  @include mq(sp) {
    display: none;
  }
}

.until-tab-hide {
  @include mq(until-tab) {
    display: none;
  }
}

.until-pc-hide {
  @include mq(until-pc) {
    display: none;
  }
}

.from-mb-hide {
  @include mq(from-sp) {
    display: none;
  }
}

.from-tab-hide {
  @include mq(from-tab) {
    display: none;
  }
}

.from-pc-hide {
  @include mq(from-pc) {
    display: none;
  }
}

.button-faicon {
  margin-right: 8px;
  height: 1em;
}

.sp-none {
  @include mq(sp) {
    display: none !important;
  }
}

.sp-show {
  @include mq(from-sp) {
    display: none !important;
  }
}

.se-card-wrapper {
  @media screen and (max-width: 364px) {
    width: 100vw;
    justify-content: space-around;
  }
}

.se-card-wrapper-ml {
  @media screen and (max-width: 364px) {
    width: 100vw;
    margin-left: -7.5vw;
    justify-content: space-around !important;
  }
}

.until-mb-column {
  flex-direction: row;

  @include mq(sp) {
    flex-direction: column !important;
  }
}

.until-tab-column {
  flex-direction: row;

  @include mq(until-tab) {
    flex-direction: column !important;
  }
}

.until-pc-column {
  flex-direction: row;

  @include mq(until-pc) {
    flex-direction: column !important;
  }
}

.until-mb-row {
  flex-direction: column;

  @include mq(sp) {
    flex-direction: row !important;
  }
}

.until-tab-row {
  flex-direction: column;

  @include mq(until-tab) {
    flex-direction: row !important;
  }
}

.until-pc-row {
  flex-direction: column;

  @include mq(until-pc) {
    flex-direction: row !important;
  }
}

.until-mb-hide {
  @include mq(sp) {
    display: none;
  }
}

.until-tab-hide {
  @include mq(until-tab) {
    display: none;
  }
}

.until-pc-hide {
  @include mq(until-pc) {
    display: none;
  }
}

.from-mb-hide {
  @include mq(from-tab) {
    display: none;
  }
}

.from-tab-hide {
  @include mq(from-tab) {
    display: none;
  }
}

.from-pc-hide {
  @include mq(from-pc) {
    display: none;
  }
}

.button-faicon {
  margin-right: 8px;
  height: 1em;
}

.sp-none {
  @include mq(sp) {
    display: none !important;
  }
}

.sp-show {
  @include mq(from-sp) {
    display: none !important;
  }
}
